* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #2a2740;
}

main {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  min-width: 400px;
  min-height: 400px;
  background-color: #b4c4d9;
  border-radius: 400px;
  border: 15px groove #0b0534;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  color: #0b0534;
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 5%;
}

.number-1 {
  transform: rotate(30deg);
}

.number-2 {
  transform: rotate(60deg);
}

.number-3 {
  transform: rotate(90deg);
}
.number-4 {
  transform: rotate(120deg);
}
.number-5 {
  transform: rotate(150deg);
}
.number-6 {
  transform: rotate(180deg);
}
.number-7 {
  transform: rotate(210deg);
}
.number-8 {
  transform: rotate(240deg);
}
.number-9 {
  transform: rotate(270deg);
}
.number-10 {
  transform: rotate(300deg);
}
.number-11 {
  transform: rotate(330deg);
}
.number-12 {
  transform: rotate(360deg);
}

.second-hand {
  width: 5px;
  height: 140px;
  background-color: #420404;
  position: absolute;
  border-radius: 5px;
  transform: translate(0, -50%);
  transform-origin: bottom center;
}

.minute-hand {
  width: 7px;
  height: 120px;
  background-color: #040230;
  position: absolute;
  border-radius: 5px;
  transform: translate(0, -50%);
  transform-origin: bottom center;
}

.hour-hand {
  width: 9px;
  height: 100px;
  background-color: #040230;
  position: absolute;
  border-radius: 9px;
  transform: translate(0, -50%);
  transform-origin: bottom center;
}

.center {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #420404;
  position: absolute;
}
